.compteur {
    display: inline-block;
    margin-left: 12px;
}
.compteur > table {
    color: #ffffff;
}

.compteur > table > tbody > tr > td {
    padding-left: 14px!important;
    padding-right: 14px!important;
}

.compteur_danger {
    background-color: #8e0800;
}

.compteur_warning {
    background-color: #c77700;
}

.compteur_success {
    background-color: #008e0a;
}

#iconCompteurAppels {
    display: none;
}
