.synthesecontent {
    margin-top: 24px;
}

.synthesecontent .group{
    margin-top: 12px;
}

.sidebar {
    display: none;
}

#statsContainer {
    width: 100%;
}

.content_ca {
    display: none;
}

.title_box {
    cursor: pointer;
}